PORT=3000
DATA_DIR=../../shared_volume
RAKUTEN_APP_ID=
RAKUTEN_ACCESS_KEY=
RAKUTEN_REFERRER=https://running.moximoxi.net/
DATABASE_URL=postgresql://user:password@localhost:5432/rakutenDB
WP_WOOCOMMERCE_CONSUMER_KEY= 
WP_WOOCOMMERCE_CONSUMER_SECRET=
WP_URL=https://running.moximoxi.net/
DEEPL_API_KEY=
ANTHROPIC_API_KEY=
REDIS_URL=redis://localhost:6379
